@import "tailwindcss";

@theme {
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-lato);
  
  --color-primary: #5D534A; /* Muted Brown */
  --color-secondary: #8C8C8C; /* Light Gray */
  --color-accent: #D4C4B5; /* Beige */
  --color-background: #FDFBF7; /* Cream/White */
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
}

